server:
  port: 10842
  servlet:
    context-path: "/auth-service"

spring:
  datasource:
    url: jdbc:sqlserver://userdetails123.database.windows.net:1433;database=user_details;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;
    username: userdetails@userdetails123
    password: User_Details@123
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.SQLServer2012Dialect

jwt:
  secret: "secret"

app:
  jwttoken:
    message: "Login Successful !!"



